.content {
    width: fit-content;
    font-size: 30px;
    font-weight: 550;
    color: var(--on-background);
    background: none;
}

.content:focus {
    outline: 0 solid transparent;
}

@media only screen and (max-width: 600px) {
    .content {
        font-size: 22px;
        font-weight: 500;
    }
}