.counts {
    padding-top: 80px;
}

.count_box {
    padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    text-align: center;
    box-shadow: 0 2px 35px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
}

.count_box i {
    position: absolute;
    width: 54px;
    height: 54px;
    top: -27px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    border-radius: 50px;
    background: var(--background);
    border: 2px solid var(--background);
    color: var(--primary);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.count_box span {
    font-size: 36px;
    display: block;
    font-weight: 700;
    color: var(--on-background);
}

.count_box p {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
}
