
.checkout_section {
    width: 100%;
    padding-top: 44px;
}

.checkout_order {
    width: 100%;
    padding-left: 60px;
    background: var(--surface);
    padding-bottom: 53px;
    padding-right: 58px;
}

.order_list_container {
    margin-top: 46px;
}

.list_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 59px;
}

.list_title {
    font-size: 18px;
    font-weight: 500;
    color: var(--on-background);
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list_quantity,
.list_price {
    font-size: 16px;
    font-weight: 500;
    color: var(--on-background);
}

.order_list li:not(:last-child) {
    margin-bottom: 53px;
}

.list_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.list_details {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.order_text {
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    color: var(--on-surface);
    margin-top: 70px;
}

.order_button {
    width: 100%;
    margin-top: 83px;
}

.order_button > div {
    width: 100%;
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px) {
    .last_name_col {
        margin-top: 15px;
    }
}

/************
6. 991px
************/

@media only screen and (max-width: 991px) {
    .checkout_order {
        margin-top: 60px;
    }
}


/************
11. 575px
************/

@media only screen and (max-width: 575px) {
    .checkout_order {
        padding-left: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
    }

    .order_list_container {
        margin-top: 40px;
    }

    .list_bar {
        margin-bottom: 30px;
    }

    .order_list li:not(:last-child) {
        margin-bottom: 30px;
    }

    .list_title {
        font-size: 13px;
        width: 60%;
    }

    .list_quantity,
    .list_price {
        font-size: 11px;
    }

    .list_details {
        width: 30%;
    }

    .order_text {
        margin-top: 20px;
    }

    .order_button {
        margin-top: 30px;
    }
}