.title {
    font-size: 24px;
    font-weight: 600;
    color: var(--on-background);
    padding-left: 2px;
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 20px;
    }
}