.header {
    position: fixed;
    width: 100%;
    z-index: 100;
    padding-left: 45px;
    padding-right: 45px;
    background: var(--background);
}

.container {
    height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container.scrolled {
    height: 70px;
}

.logo {
    font-size: 30px;
    font-weight: 700;
}

.logo a {
    text-decoration: none;
    color: var(--on-background);
}

.logo a:hover {
    color: var(--primary);
}

.container.scrolled .logo {
    font-size: 24px;
}

.center > ul > li {
    display: inline-block;
    position: relative;
}

.center > ul > li:not(:last-child) {
    margin-right: 40px;
}

.center > ul > li > a {
    font-size: 16px;
    font-weight: 600;
    color: var(--on-background);
}

.center > ul > li > a:hover,
.center > ul > li > a.active {
    color: var(--primary);
}

.center ul li:hover::after,
.center ul li.active::after {
    color: var(--primary);
}

.center ul li.subs::after {
    position: absolute;
    top: 50%;
    left: calc(100% + 3px);
    font-family: "FontAwesome", sans-serif;
    font-size: 10px;
    content: "\f078";
    color: var(--on-background);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.subs ul {
    position: absolute;
    right: -15px;
    top: calc(100% + 20px);
    text-align: right;
    background: var(--background);
    padding: 25px 25px 25px 35px;
    visibility: hidden;
    opacity: 0;
}

.subs:hover ul {
    visibility: visible;
    opacity: 1;
    top: calc(100% + 0px);
}

.subs ul li:not(:last-child) {
    margin-bottom: 11px;
}

.subs ul li a {
    font-size: 14px;
    font-weight: 600;
    color: var(--on-background);
}

.subs ul li a:hover {
    color: var(--primary);
}

.cart {
    display: inline-block;
}

.cart a svg {
    display: inline-block;
    width: 19px;
    height: 19px;
    vertical-align: top;
    fill: var(--on-background);
}

.cart a:hover svg,
.cart a:hover div {
    fill: var(--primary);
    color: var(--primary);
}

.cart a div {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    font-weight: 600;
    color: var(--on-background);
    margin-left: 5px;
}

.cart a.active div {
    color: var(--primary);
}

.theme {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    cursor: pointer;
}

.theme i {
    font-size: 15px;
    color: var(--on-background);
}

.theme i:hover {
    color: var(--primary);
}

.hamburger {
    display: none;
    margin-left: 20px;
    cursor: pointer;
    margin-right: 4px;
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);
}

.hamburger i {
    font-size: 18px;
    color: var(--on-background);
}

@media only screen and (max-width: 992px) {
    .header {
        padding-left: 20px;
        padding-right: 20px;
    }

    .center {
        display: none;
    }

    .hamburger {
        display: inline-block;
    }
}

@media only screen and (max-width: 600px) {
    .header {
        padding-left: 10px;
        padding-right: 10px;
    }

    .container {
        height: 90px;
    }

    .container.scrolled {
        height: 70px;
    }

    .logo{
        font-size: 20px;
    }

    .container.scrolled .logo {
        font-size: 18px;
    }
}