.password {
    font-size: 15px;
    color: var(--on-surface);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 5;
    height: 100%;
    top: 0;
    right: 25px;
    padding: 0 5px;
    cursor: pointer;
}

.password:hover {
    color: var(--primary);
}

.password.active {
    color: var(--on-background);
}

.alert .password {
    visibility: hidden;
}

.alert::before {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    content: attr(data-validate);
    position: absolute;
    z-index: 1;
    max-width: 90%;
    background-color: var(--surface);
    border: 1px solid var(--primary);
    border-radius: 14px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    right: 10px;
    pointer-events: none;
    color: var(--primary);
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.alert::after {
    content: "\f06a";
    font-family: "FontAwesome", sans-serif;
    display: block;
    position: absolute;
    z-index: 1;
    color: var(--primary);
    font-size: 16px;
    top: 50%;
    right: 16px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.alert:hover:before {
    visibility: visible;
    opacity: 1;
}

@media only screen and (max-width: 992px) {
    .alert::before {
        visibility: visible;
        opacity: 1;
    }
}