.form_container {
    width: 100%;
    margin-top: 46px;
}

form > div:not(:last-child) {
    margin-bottom: 25px;
}

.form_error {
    margin-top: 10px;
    margin-left: 5px;
    font-weight: 500;
    color: var(--error);
}

.form_success {
    margin-top: 10px;
    margin-left: 5px;
    font-weight: 500;
    color: var(--success);
}

.form_button {
    margin: 30px auto auto;
}