.order_object {
    width: calc((100% - 90px) / 4);
    margin: 0 0 50px 18px;
}

.order_object_image {
    width: 100%;
}

.order_object_image img {
    width: 100%;
    height: auto;
}

.order_object_content {
    width: 100%;
    padding: 20px 5px 30px;
}

.order_object_content > div:not(:first-child) {
    font-size: 16px;
    font-weight: 550;
    color: var(--on-surface);
    line-height: 0.75;
    margin-top: 13px;
}

.order_object_title {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
}

.order_object_title a {
    font-size: 20px;
    font-weight: 600;
    color: var(--on-background);
}

.order_object_title a:hover {
    color: var(--primary);
}

.pending {
    color: var(--warning) !important;
}

.printing {
    color: var(--error) !important;
}

.printed {
    color: var(--success) !important;
}

.object_status_buttons {
    margin-top: 13px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.object_status_buttons > div {
    width: 75px;
    height: 35px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 8px;
}

.object_status_buttons > div > button {
    font-size: 12px;
    font-weight: 500;
    line-height: 31px;
}

.object_status_buttons > div {
    width: 75px;
    height: 35px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 8px;
}

.object_status_buttons > div > button {
    font-size: 10px;
    font-weight: 500;
    line-height: 31px;
}

@media only screen and (max-width: 991px) {
    .order_object {
        width: calc((100% - 30px) / 2);
        margin: 0 0 40px 10px;
    }
}

@media only screen and (max-width: 575px) {
    .order_object {
        width: calc(100% - 30px);
        margin: 0 0 30px 15px;
    }
}
