.object {
    width: calc((100% - 90px) / 4);
    margin: 0 0 50px 18px;
}

.image {
    width: 100%;
}

.image img {
    width: 100%;
    height: auto;
}

.content {
    width: 100%;
    padding: 20px 5px 30px;
}

.content > div:not(:first-child) {
    font-size: 16px;
    font-weight: 550;
    color: var(--on-surface);
    line-height: 0.75;
    margin-top: 13px;
}

.content > div:not(:first-child) a {
    font-size: 16px;
    font-weight: 550;
    color: var(--primary);
    margin-bottom: 5px;
}

.title {
    width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
}

.title div,
.title a {
    font-size: 20px;
    font-weight: 600;
    color: var(--on-background);
}

.title a:hover {
    color: var(--primary);
}

.quantity {
    position: absolute;
    top: 13px;
    right: 8px;
}

.buttons {
    margin-top: 13px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.buttons > div {
    width: 75px;
    height: 35px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 8px;
}

.buttons > div > button {
    font-size: 12px;
    font-weight: 500;
    line-height: 31px;
}

.buttons > div {
    width: 75px;
    height: 35px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 8px;
}

.buttons > div > button {
    font-size: 10px;
    font-weight: 500;
    line-height: 31px;
}

@media only screen and (max-width: 991px) {
    .object {
        width: calc((100% - 30px) / 2);
        margin: 0 0 40px 10px;
    }
}

@media only screen and (max-width: 575px) {
    .object {
        width: calc(100% - 30px);
        margin: 0 0 30px 15px;
    }
}
