/*********************************
1. detail
*********************************/
.account_detail_container {
    padding: 20px;
    margin-bottom: 20px;
}

.account_detail_container p {
    font-size: 24px;
    font-weight: 550;
    color: var(--on-background);
}

/*********************************
2. collapsible
*********************************/
.collapsible {
    background-color: var(--surface);
    color: var(--on-surface);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: 500;
}

.collapsible.active,
.collapsible:hover,
.collapsible:active,
.collapsible:focus {
    background-color: var(--surface-hover);
    color: var(--on-background);
    border: none;
    outline: none;
}

.collapsible:after {
    content: "\002B";
    color: var(--on-surface);
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.collapsible:hover:after {
    color: var(--on-background);
}

.collapsible.active:after {
    content: "\2212";
}

.collapsible_content {
    margin: auto;
    overflow: hidden;
    background-color: var(--background);
}

.collapsible_content.disabled {
    max-height: 0;
}

/*********************************
3. Update account
*********************************/
.update_form_container {
    margin-top: 60px;
    margin-bottom: 60px;
}

/*********************************
4. Change password
*********************************/
.change_password_form_container {
    margin-top: 60px;
    margin-bottom: 60px;
}

/************
6. 992px
************/

@media only screen and (max-width: 992px) {

}

/************
11. 600px
************/

@media only screen and (max-width: 600px) {
    .account_detail_container {
        padding: 10px;
    }

    .account_detail_container p {
        font-size: 18px;
        font-weight: 550;
    }
}