.menu {
    position: fixed;
    right: -400px;
    width: 400px;
    height: 100vh;
    background: var(--surface);
    z-index: 101;
}

.menu.active {
    right: 0;
}

.container {
    padding-top: 130px;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden;
    text-align: right;
}

.content li {
    border-bottom: solid 1px var(--border-light);
}

.content li {
    display: block;
    position: relative;
    vertical-align: middle;
}

.content li > a {
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 50px;
    height: 50px;
    color: var(--on-surface);
}

.content li > a:hover {
    color: var(--on-surface-hover);
}

.content i {
    display: inline-block;
    margin-left: 8px;
}

.collapsible {
    margin: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    z-index: 1;
}

.collapsible.active{
    height: fit-content;
}

.collapsible li {
    padding-right: 15px;
    line-height: 40px;
}

.collapsible li:last-child {
    padding-bottom: 20px;
    border-bottom: none;
}

.social {
    position: absolute;
    right: 30px;
    bottom: 15px;
}

.social ul li {
    display: inline-block;
}

.social ul li:not(:last-child) {
    margin-right: 18px;
}

.social ul li a i {
    font-size: 16px;
    color: var(--on-surface);
    padding: 5px;
}

.social ul li a i:hover {
    color: var(--on-surface-hover);
}

.close {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

.close i {
    font-size: 16px;
    color: var(--on-background);
    padding: 5px;
}

@media only screen and (max-width: 600px) {
    .menu {
        width: 100vw;
        right: -100vw;
    }

    .container {
        padding-top: 80px;
    }

    .content li > a,
    .collapsible li a {
        font-size: 13px;
        height: 40px;
        line-height: 40px;
    }
}