.content {
    width: 100%;
    margin-top: 46px;
}

.error {
    margin-top: 10px;
    margin-left: 5px;
    font-weight: 500;
    color: var(--error);
}

.success {
    margin-top: 10px;
    margin-left: 5px;
    font-weight: 500;
    color: var(--success);
}

.button {
    margin: 30px auto auto;
}