.info_column {
    width: 100%;
    border-bottom: solid 2px var(--border-dark);
    padding-bottom: 7px;
}

.info_column > div {
    float: left;
    font-size: 15px;
    font-weight: 500;
    color: var(--on-background);
}

.info_object {
    width: 60%;
}

.info_price {
    width: 20%;
    text-align: center;
}

.info_quantity {
    width: 20%;
    text-align: center;
}

/*********************************
2. Cart Item
*********************************/
.cart_item {
    width: 100%;
    padding-top: 33px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.item_object {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.item_image {
    width: 183px;
}

.item_image img {
    width: 100%;
    height: auto;
}

.item_name_container {
    width: 70%;
    padding-left: 36px;
}

.item_name {
    width: 99%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item_name a {
    font-size: 18px;
    font-weight: 500;
    color: var(--on-background);
}

.item_name a:hover {
    color: var(--primary);
}

.item_remove {
    margin-top: 3px;
}

.item_remove a {
    font-size: 14px;
    font-weight: 500;
    color: var(--on-surface);
}

.item_remove a:hover {
    color: var(--on-background);
}

.item_price {
    width: 20%;
    text-align: center;
    font-size: 14px;
    font-weight: 450;
}

.item_quantity {
    width: 20%;
    text-align: center;
}

/*********************************
2. Qty Button
*********************************/
.quantity {
    display: inline-block;
    width: 147px;
    height: 61px;
    border: solid 2px var(--border-dark);
    overflow: hidden;
    padding-left: 70px;
    vertical-align: middle;
}

.quantity span {
    position: absolute;
    top: 50%;
    left: 25px;
    font-size: 16px;
    font-weight: 600;
    color: var(--on-surface);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.quantity .input {
    width: 40px;
    line-height: 60px;
    font-size: 16px;
    font-weight: 600;
    color: var(--on-background);
}

.quantity_buttons {
    position: absolute;
    top: 0;
    right: 1px;
    height: 100%;
    width: 29px;
}

.quantity_inc,
.quantity_dec {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
    cursor: pointer;
}

.quantity_control i {
    font-size: 10px;
    color: var(--on-surface);
    pointer-events: none;
}

.quantity_inc {
    padding-bottom: 3px;
    justify-content: flex-end;
}

.quantity_inc i {
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -o-transform: translateY(3px);
    transform: translateY(3px);
}

.quantity_dec {
    padding-top: 3px;
    justify-content: flex-start;
}

.quantity_dec i {
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px);
}

/*********************************
4. Coupon
*********************************/
.row_extra {
    margin-top: 80px;
}

.coupon_form_container {
    margin-top: 42px;
    width: 100%;
}

.coupon_form {
    position: relative;
    width: 100%;
}

.coupon_input {
    width: 100%;
    height: 52px;
    border: none;
    outline: none;
    background: var(--surface);
    padding-left: 15px;
}

.coupon_button {
    position: absolute;
    top: 0;
    right: 0;
    width: 112px;
    height: 52px;
}

.coupon_button > div{
    height: inherit;
    width: inherit;
}

.coupon_button > div > button{
    line-height: 52px;
}


/*********************************
5. cart total
*********************************/

.total_container {
    margin-top: 42px;
    padding: 20px 44px 19px 45px;
    background: var(--surface);
}

.list_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 48px;
}

.list_title {
    font-size: 16px;
    font-weight: 600;
    color: var(--on-background);
    width: 68%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list_details {
    width: 32%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.list_quantity,
.list_price {
    font-size: 16px;
    font-weight: 600;
    color: var(--on-background);
}

.total_container ul {
    width: 100%;
}

.total_container ul li {
    width: 100%;
    height: 48px;
}

.total_item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.grid {
    height: 48px;
}

.total_title {
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 400;
    color: var(--on-background);
}

.total_details {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.total_quantity,
.total_value {
    font-size: 14px;
    font-weight: 400;
    color: var(--on-background);
}

.checkout_button {
    width: 100%;
}

.checkout_button > div {
    width: 100%;
}

/************
6. 992px
************/

@media only screen and (max-width: 992px) {
    .item_name_container {
        width: 60%;
        padding-left: 10px;
    }

    .item_name a {
        font-size: 14px;
    }

    .item_remove a {
        font-size: 12px;
    }

    .item_price {
        font-size: 13px;
        font-weight: 400;
    }

    .item_image {
        width: 160px;
    }


    .quantity {
        max-width: 90px;
        height: 50px;
        padding-left: 35px;
    }

    .quantity span {
        left: 10px;
        font-size: 14px;
        font-weight: 550;
    }

    .quantity .input {
        width: 30px;
        line-height: 47px;
        font-size: 14px;
        font-weight: 550;
    }

    .quantity_buttons {
        width: 24px;
    }

    .cart_total {
        margin-top: 50px;
    }

    .checkout_button {
        margin-top: 15px;
    }
}

/************
11. 600px
************/

@media only screen and (max-width: 600px) {
    .info_column > div {
        font-size: 12px;
        font-weight: 450;
    }

    .item_image {
        width: 130px;
    }

    .item_name_container {
        width: 50%;
        padding-left: 8px;
    }

    .item_name a {
        font-size: 11px;
        font-weight: 450;
    }

    .item_remove a {
        font-size: 10px;
        font-weight: 450;
    }

    .item_price {
        font-size: 10px;
    }

    .quantity {
        max-width: 60px;
        height: 40px;
        padding-left: 25px;
    }

    .quantity span {
        left: 5px;
        font-size: 11px;
        font-weight: 550;
    }

    .quantity .input {
        width: 15px;
        line-height: 38px;
        font-size: 11px;
        font-weight: 550;
    }

    .quantity_buttons {
        width: 13px;
    }

    .total_title {
        width: 60%;
    }

    .total_details {
        width: 30%;
    }

    .total_container {
        margin-top: 25px;
        padding: 20px;
    }

    .total_title {
        font-size: 12px;
    }

    .total_quantity,
    .total_value {
        font-size: 10px;
    }

    .list_title {
        font-size: 13px;
        width: 58%;
    }

    .list_quantity,
    .list_price {
        font-size: 13px;
    }

    .list_details {
        width: 32%;
    }

    .row_extra {
        margin-top: 50px;
    }

    .coupon_input {
        height: 45px;
    }

    .coupon_button {
        height: 45px;
    }

    .coupon_button > div > button{
        line-height: 45px;
    }
}
