.content {
    margin-top: 15px;
}

.content > div {
    font-size: 16px;
    font-weight: 550;
    color: var(--on-surface);
    margin-bottom: 5px;
}

.name {
    font-size: 30px !important;
    font-weight: 600 !important;
    margin-bottom: 12px !important;
    color: var(--on-background) !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text {
    font-size: 14px !important;
    font-weight: 500 !important;
}

.button_container {
    margin-top: 30px;
}

.slicing {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px !important;
}

.button_container > div {
    margin: unset;
}

.video_container {
    width: 100%;
    margin: auto auto 50px;
    border: none;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.setting {
    margin-top: 60px;
}

.setting > div {
    margin: 0;
}

.collapsible {
    display: none;
}

.collapsible.collapsed {
    display: block;
}

.delete_button {
    margin-top: 50px;
    width: fit-content;
}

.delete_button > div {
    margin-top: 30px;
}

@media only screen and (max-width: 600px) {
    .name {
        font-size: 22px;
        font-weight: 500;
    }

    .content > div {
        font-size: 15px;
    }
}
