.box {
    font-size: 1.25rem;
    background-color: var(--surface);
    text-align: center;
    padding: 120px 20px 100px 20px;
    outline: 2px dashed var(--on-surface);
    outline-offset: -10px;
}

.box.is_dragover {
    outline-offset: -20px;
    outline-color: var(--on-surface);
    background-color: var(--surface);
}

.box_dragndrop {
    display: inline;
}

.box_icon {
    width: 100%;
    height: 80px;
    fill: var(--on-surface);
    display: block;
    margin-bottom: 35px;
}

.box.is_slicing .box_upload,
.box.is_uploading_file .box_upload,
.box.is_uploading_img .box_upload,
.box.is_done .box_upload,
.box.is_error .box_upload {
    visibility: hidden;
}

.box_slicing,
.box_uploading_file,
.box_uploading_img,
.box_done,
.box_error {
    display: none;
}

.box.is_slicing .box_slicing,
.box.is_uploading_file .box_uploading_file,
.box.is_uploading_img .box_uploading_img,
.box.is_done .box_done,
.box.is_error .box_error {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.box_slicing,
.box_uploading_img,
.box_uploading_file {
    font-style: italic;
}

.box_done {
    -webkit-animation: appear-from-inside 0.25s ease-in-out;
    -moz-animation: appear-from-inside 0.25s ease-in-out;
    -o-animation: appear-from-inside 0.25s ease-in-out;
    animation: appear-from-inside 0.25s ease-in-out;
}

@-webkit-keyframes appear-from-inside {
    from {
        -webkit-transform: translateY(-50%) scale(0);
    }
    75% {
        -webkit-transform: translateY(-50%) scale(1.1);
    }
    to {
        -webkit-transform: translateY(-50%) scale(1);
    }
}

@-moz-keyframes appear-from-inside {
    from {
        -moz-transform: translateY(-50%) scale(0);
    }
    75% {
        -moz-transform: translateY(-50%) scale(1.1);
    }
    to {
        -moz-transform: translateY(-50%) scale(1);
    }
}

@-o-keyframes appear-from-inside {
    from {
        -o-transform: translateY(-50%) scale(0);
    }
    75% {
        -o-transform: translateY(-50%) scale(1.1);
    }
    to {
        -o-transform: translateY(-50%) scale(1);
    }
}

@keyframes appear-from-inside {
    from {
        transform: translateY(-50%) scale(0);
    }
    75% {
        transform: translateY(-50%) scale(1.1);
    }
    to {
        transform: translateY(-50%) scale(1);
    }
}

.box_restart {
    font-weight: 700;
    color: var(--on-surface);
}

.box_restart:hover {
    color: var(--on-background);
}

.box_input {
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.box_input + label {
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    font-size: inherit;
}

.box_input + label:hover strong {
    color: var(--primary);
}

.progress_container {
    margin: 10px 40px;
}

/************
  Canvas
************/
.canvas_info {
    width: 100%;
    margin: 30px 5px;
}

.canvas_name {
    font-size: 30px;
    font-weight: 550;
    color: var(--on-background);
    margin-bottom: 8px;
}

[contenteditable="true"].canvas_name {
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
}

[contenteditable="true"].canvas_name br {
    display: none;
}

[contenteditable="true"].canvas_name * {
    display: inline;
    white-space: nowrap;
}

[contenteditable]:focus {
    outline: 0 solid transparent;
}

.canvas_size_error {
    font-weight: 450;
    color: var(--error);
}

.canvas_buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.canvas_buttons > div {
    margin: 10px 20px;
}

@media only screen and (max-width: 992px) {
    .box {
        font-size: 1rem;
        padding: 90px 20px 55px 20px;
    }
}

@media only screen and (max-width: 600px) {
    .box {
        font-size: 0.9rem;
        padding: 75px 15px 40px 15px;
        outline: 1px dashed var(--on-surface);
    }

    .box_icon {
        height: 40px;
        margin-bottom: 20px;
    }

    .canvas_name {
        font-size: 22px;
        font-weight: 500;
    }

    .canvas_size_error {
        font-weight: 400;
        font-size: xx-small;
    }
}