.object {
    width: calc((100% - 90px) / 4);
    margin: 0 0 50px 18px;
}

.image {
    width: 100%;
}

.image img {
    width: 100%;
    height: auto;
}

.description {
    width: 100%;
    padding: 36px 5px 38px;
}

.description > div:not(:first-child) {
    font-size: 16px;
    font-weight: 550;
    color: var(--on-surface);
    line-height: 0.75;
    margin-top: 8px;
}

.title {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title a {
    font-size: 20px;
    font-weight: 600;
    color: var(--on-background);
}

.title a:hover {
    color: var(--primary);
}

.price {
    position: absolute;
    right: 7px;
    top: 61px;
}

@media only screen and (max-width: 991px) {
    .object {
        width: calc((100% - 30px) / 2);
        margin: 0 0 40px 10px;
    }
}

@media only screen and (max-width: 575px) {
    .object {
        width: calc(100% - 30px);
        margin: 0 0 30px 15px;
    }
}
