.notification {
    width: 100%;
}

.notification_content {
    width: 100%;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.notification_title {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notification_title a {
    font-size: 26px;
    font-weight: 550;
    color: var(--on-background);
}

.notification_title a:hover {
    color: var(--primary);
}

.notification_message {
    font-size: 16px;
    font-weight: 500;
    color: var(--on-surface);
    margin-top: 13px;
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notification_date {
    font-size: 14px;
    font-weight: 450;
    color: var(--on-surface);
    margin-top: 5px;
    text-align: right;
}

.divider {
    border-top: 1px solid var(--border-light);
}

/*********************
   Notification detail
*********************/
.notification_detail_content {
    width: 100%;
    padding-top: 20px;
}

.notification_detail_title {
    font-size: 30px;
    font-weight: 550;
    color: var(--on-background);
}

.notification_detail_message {
    font-size: 18px;
    font-weight: 500;
    color: var(--on-surface);
    margin-top: 13px;
}

.notification_detail_date {
    font-size: 14px;
    font-weight: 450;
    color: var(--on-surface);
    margin-top: 10px;
    text-align: right;
}

/************
6. 992px
************/

@media only screen and (max-width: 992px) {
    .notification_title a {
        font-size: 22px;
    }

    .notification_message {
        font-size: 15px;
    }

    .notification_date {
        font-size: 13px;
    }

    .notification_detail_title {
        font-size: 22px;
    }

    .notification_detail_message {
        font-size: 16px;
    }

    .notification_detail_date {
        font-size: 13px;
    }
}

/************
11. 600px
************/

@media only screen and (max-width: 600px) {
    .notification_detail_title {
        font-size: 20px;
    }

    .notification_detail_message {
        font-size: 15px;
    }

    .notification_detail_date {
        font-size: 12px;
    }
}