.footer {
    width: 100%;
}

.footer_content {
    width: 100%;
    height: 129px;
}

.footer_logo {
    width: 30%;
}

.footer_logo a {
    font-size: 28px;
    line-height: 0.75;
    color: var(--on-background);
    font-weight: 700;
}

.footer_logo a:hover {
    color: var(--primary);
}

.copyright {
    width: 40%;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: var(--on-background);
}

.copyright a {
    font-weight: 450;
    color: var(--on-background);
}

.footer_social {
    width: 30%;
    text-align: right;
}

.footer_social ul li {
    display: inline-block;
}

.footer_social ul li:not(:last-child) {
    margin-right: 26px;
}

.footer_social ul li a i {
    font-size: 17px;
    color: var(--on-background);
}

.footer_social ul li a i:hover {
    color: var(--primary);
}


/************
11. 992px
************/
@media only screen and (max-width: 992px) {
    .footer_content {
        height: 200px;
    }

    .footer_logo,
    .copyright,
    .footer_social {
        text-align: center;
        width: 100%;
    }

    .copyright {
        margin-top: 15px;
    }

    .footer_social {
        margin-top: 21px;
    }
}


/************
12. 600px
************/
@media only screen and (max-width: 600px) {
    .copyright {
        font-size: 10px;
    }

    .footer_logo a {
        font-size: 20px;
    }
}