.content {
    height: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    width: 30%;
}

.logo a {
    font-size: 28px;
    line-height: 0.75;
    font-weight: 700;
    color: var(--on-background);
}

.logo a:hover {
    color: var(--primary);
}

.copyright {
    width: 40%;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: var(--on-background);
}

.copyright a {
    font-weight: 450;
    color: var(--on-background);
}

.social {
    width: 30%;
    text-align: right;
}

.social ul li {
    display: inline-block;
}

.social ul li:not(:last-child) {
    margin-right: 26px;
}

.social ul li a i {
    font-size: 17px;
    color: var(--on-background);
}

.social ul li a i:hover {
    color: var(--primary);
}

@media only screen and (max-width: 992px) {
    .content {
        height: 200px;
        flex-direction: column;
        justify-content: center;
    }

    .logo,
    .copyright,
    .social {
        text-align: center;
        width: 100%;
    }

    .copyright {
        margin-top: 15px;
    }

    .social {
        margin-top: 21px;
    }
}

@media only screen and (max-width: 600px) {
    .copyright {
        font-size: 10px;
    }

    .logo a {
        font-size: 20px;
    }
}