textarea {
    width: 100%;
    background: var(--surface);
    color: var(--on-surface);
    border: none;
    outline: none;
    padding: 15px;
}

.alert-validate .btn-show-pass {
    visibility: hidden;
}

.alert-validate::before {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    content: attr(data-validate);
    position: absolute;
    z-index: 1;
    max-width: 90%;
    background-color: var(--surface);
    border: 1px solid var(--primary);
    border-radius: 14px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    right: 10px;
    pointer-events: none;
    color: var(--primary);
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.alert-validate::after {
    content: "\f06a";
    font-family: "FontAwesome", sans-serif;
    display: block;
    position: absolute;
    z-index: 1;
    color: var(--primary);
    font-size: 16px;
    top: 50%;
    right: 16px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media only screen and (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}
